*,
::after,
::before,
:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #f5f5f5;
  color: #0d0c22;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
header,
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  min-height: 20vh;
}
header {
  padding: 2rem;
  margin: 2rem 0 2rem;
}

input[type="text"] {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 4px solid #ff3c38;
  margin-right: 1.4rem;
}
input[type="text"],
.submit-btn {
  font-size: 1.7rem;
  padding: 0.8rem;
  /* border: none; */
}
.submit-btn {
  background: #f8333c;
  border: none;
  border-radius: 5px;
  /* border-radius: 50%; */
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 50vw; */
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: #fcab10;
  font-size: 1.5rem;
  color: #0d0c22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo li {
  flex: 1;
  list-style-type: none;
}
.todo-item {
  padding: 0rem 0.7rem;
}
/* Action buttons */
.complete-btn,
.edit-btn,
.delete-btn {
  font-size: 1.2rem;
  border: none;
  color: #fff;
  padding: 0.92rem;
}
.complete-btn {
  background-color: #44af69;
}
.delete-btn {
  background-color: #a30015;
}
.edit-btn {
  background-color: #357266;
}

/* disable clicking on icons */
.fa-trash,
.fa-pencil,
.fa-check-circle {
  pointer-events: none;
}
